/* Default styles */

.about-us {
  padding: 10px 3% !important;
  height: 350px;
}


.aboutheading{
  align-items: start;
}
.about-us .section-title {
  color: #e44a20;
  font-weight: 600;
  margin-bottom: 2%;
}

.about-us .section-content {
  margin-bottom: 40px;
  text-align: justify;
  display: flex;
  line-height: 1.7;
  flex-wrap: wrap;
}

.about-us .blueimg {
  width: 50%;
  align-self: center;
}

.paymentcon{
  background-color: #90498c;
}
.securitycon{
  background-color: #3b6687;
}
.joincon{
  background-color: #d6e121;
}



/* Media Queries */
 
@media (min-width: 1600px) {
  .about-us {
    padding: 10px 3% !important;
    height: 550px;
  }
  .about-us .blueimg {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .about-us {
    padding: 10px 3% !important;
    height: 450px;
  }
  .about-us .blueimg {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .about-us {
    padding: 10px 3% !important;
    height: 500px;
  }
  .about-us .blueimg {
    width: 80%;
  }
}

@media (min-width: 540px )and (max-width: 768px) {

  .about-us {
    height: auto;
  }
  .about-us .blueimg {
    margin-top: 5%;
    width: 50%;
  }
  .about-us .section-content {
    padding: 10px;
  }

}

@media (max-width: 539px) {
  .about-us {
    height: auto;
  }
  .about-us .blueimg {
    margin-top: 5%;
    width: 50%;
  }
  
  .about-us .section-content {
    text-align: center;
    padding: 10px;
  }

}





.testimonial-banner {
background-color: #032b47;
color: #ffffff;
padding: 20px;
border-radius: 10px;
}

.testimonial-image img {
border: 5px solid #cde01a;
}

.testimonial-content {
position: relative;
}

.testimonial-content .highlight {
color: #cde01a;
}

.testimonial-text {
font-size: 1.2em;
margin: 20px 0;
}

.client-name {
font-weight: bold;
/* text-align: right; */
}

.testimonial-content .fas {
font-size: 1.5em;
color: #cde01a;

}