/* Contactus styles */
.contactcon {
    padding: 10px 3% !important;
  }
  
  .contact-text-brick-red {
    color: #e44a20;
  }
  .contact-heading {
    color: white;
    text-align: start;
    margin-bottom: 20px;
  }
  .conemail,
  .conno {
    text-decoration: none;
  }
  
  .contact-btn-brick-red {
    border: 2px solid #e44a20;
    color: "rgba(0,0,0,0.7)";
    background-color: white;
    font-weight: 500;
  }
  
  .contact-btn-brick-red:hover {
    border: 2px solid #6ec13a;
    color: "rgba(0,0,0,0.7)";
    background-color: white;
    font-weight: 500;
  }
  
  .contact-input {
    margin-bottom: 1rem;
    max-width: 46%;
    border: 1px solid black;
  }
  .contact-input1 {
    margin-bottom: 1rem;
    border: 1px solid black;
    max-width: 100%;
  }
  .contact-text {
    font-size: 1.14rem;
  }
  .contact-card {
    margin-left: 40px;
  }
  @media (min-width: 1370px) and (max-width: 1750px) {
    .leavemsgcon {
      align-items: flex-end;
      justify-content: flex-end;
    }
  
    .contact-card {
      max-width: 80%;
      margin: 20px 0 0 auto; /* Align to the end horizontally */
    }
  }
  
  @media (max-width: 991px) {
    .leavemsgcon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .contact-card {
      max-width: 70%;
      margin: 20px auto 0; /* This centers the card horizontally */
    }
  }
  @media (max-width: 768px) {
    .leavemsgcon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .contact-card {
      max-width: 85%;
      margin: 20px auto 0;
    }
    .img-price {
      width: 70%;
      cursor: pointer;
      margin-bottom: 50px;
    }
  }
  
  @media (max-width: 643px) {
    .leavemsgcon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .contact-card {
      max-width: 90%;
      margin: 20px auto 0;
    }
  }
  
  @media (max-width: 520px) {
    .contact-card {
      max-width: 100%;
      margin-left: 0;
      margin-top: 20px;
      align-self: center;
    }
    .contact-input {
      max-width: 44%;
    }
  }
  
  @media (max-width: 425px) {
    .title-price {
      font-size: 18px;
    }
    .contact-input {
      max-width: 40%;
    }
  }
  
  .address-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .column {
    flex: 0 0 50%;
  }
  
  .address-item {
    display: flex;
    align-items: center;
  }
  
  .address-icon {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .address-text h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .address-text p {
    margin: 5px 0;
  }
  
  @media (max-width: 992px) {
    .column {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
  
    .address-container {
      padding: 10px;
    }
  }
  
  @media (max-width: 600px) {
    .column {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
  
    .address-icon {
      width: 40px;
      height: 40px;
    }
  
    .address-container {
      padding: 10px;
    }
  
    .address-text h3 {
      font-size: 1em;
      margin-bottom: 5px;
    }
  
    .address-text p {
      font-size: 0.9em;
      margin-bottom: 5px;
    }
  }