/* Pricings Styles */
.container {
    padding: 15px;
    max-width: 70%;
}

@media (max-width: 634px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 380px) {
  .container {
    padding: 0%;
    max-width: 90%;
  }
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.table th {
    font-weight: bold;
    background-color: #6ec13a;
    color: white;
}

.table-responsive {
    margin-top: 15px;
}

.table td {
    background-color: #e44a20;
    font-weight: 500;
    color: white;
}

/* Contactus styles */
.contactcon{
  padding: 10px 3% !important;
}

.contact-text-brick-red {
    color: #e44a20;
}
.conemail,.conno{
    text-decoration: none;
}
  
  .contact-btn-brick-red {
    background-color: #e44a20;
    color: white;
    font-weight: 500;
  }
  
  .contact-btn-brick-red:hover {
    background-color: #6ec13a;
    color: white;
    font-weight: 500;
  }
  
  .contact-input {
    margin-bottom: 1rem;
  }
  .contact-text {
    font-size: 1.14rem; 
}


/* product styles */

.productcon {
  padding: 10px 3% !important;
}

.card {
  display: flex;
  border: 1px solid grey;
  border-radius: 5px;
  align-self: center;
  overflow: hidden;
  height: 250px;
}

.card-horizontal {
  flex-direction: row;
  display: flex;
  flex: 1 1 auto;
}

.imgcon {
  align-self: center;
  padding: 10px; 
  border: 3px solid #e44a20;
  border-radius: 5px
}

.card-img-left {
  max-width: 100%;
  max-height: 145px; 
  object-fit: contain; 
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  color: #ff5722;
  font-size: 21px;
}

.card-text {
  color: black;
  font-size: 16px;
  text-align: justify;
}

.readbtn {
  border: 1px solid #e44a20;
  color: black;
  width: 42%;
}
.readbtn:hover {
  background-color: #6ec13a;
  color: white;
}

/* Media Queries */
@media (max-width: 1200px) {
  .card-horizontal {
    flex-direction: row;
  }
  .card {
    height: 200px;
  }
  .imgcon {
    align-self: center;
    padding: 2px; 
  }
  .card-img-left {
    max-width: 100%;
    max-height: 100px;
  }
  .card-title {
    font-size: 16px;
  }
  
  .card-text {
    font-size: 12px;
  }
  .readbtn {
  width: 42%;
  font-size: 12px;
  }
}

@media (max-width: 992px) {
  .card-horizontal {
    flex-direction: row;
  }
  .card {
    height: 170px;
  }
  .imgcon {
    align-self: center;
    padding: 2px; 
  }
  .card-img-left {
    max-width: 100%;
    max-height: 90px;
  }
  .card-title {
    font-size: 12px;
  }
  .card-text {
    font-size: 8px;
  }
  .readbtn {
  width: 50%;
  font-size: 9px;
  }
}
@media (max-width: 767px) {
  .card {
    height: 170px;
  }
  .imgcon {
    align-self: center;
    padding: 2px; 
  }
  .card-img-left {
    max-width: 100%;
    max-height: 90px;
  }
  .card-title {
    font-size: 16px;
  }
  .card-text {
    font-size: 12px;
  }
  .readbtn {
  width: 50%;
  font-size: 12px;
  }
}


@media (max-width: 576px) {
  .card {
    height: 200px;
  }
  .imgcon {
    align-self: center;
    padding: 2px; 
  }
  .card-img-left {
    max-width: 100%;
    max-height: 90px;
  }
  .card-title {
    font-size: 16px;
  }
  .card-text {
    font-size: 12px;
  }
  .readbtn {
  width: 50%;
  font-size: 12px;
  }
}

@media (max-width: 480px) {
  .card-horizontal {
    margin: 0;
    flex-direction: column;
  }
  .card {
    height: 350px;
  }
  .imgcon {
    align-self: center;
    padding: 3px;
    margin-top: 4%; 
  }
  .card-img-left {
    max-width: 100%;
    max-height: 70px;
  }
  
  .card-title {
    align-self: center;
    font-size: 17px;
  }
  .card-text {
    font-size: 14px;
  }
  .readbtn {
  width: 50%;
    align-self: center;
  font-size: 14px;
  }
}
