/* Pricings Styles */
.card-price {
  height: auto !important;
  border: 2px darkblue solid;
  box-shadow: 25px 25px 25px rgba(64, 0, 255, 0.1);
}
.ml6 .text-wrapper {
  position: relative;
}

.ml6 .letter {
  display: inline-block;
}
.title-price {
  margin: 70px 0;
  font-weight: 700;
}
.card-svg {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: -8% 0 0 -7%;
}

.list-group {
  margin-top: -50px;
  text-align: center;
}

.title {
  font-size: x-large;
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: whitesmoke;
}
@media (max-width: 1199px) {
  .title {
    font-size: larger;
  }
  .list-group {
    margin-top: -30px;
  }
}
/* #payment-gradient{
  stop-color: #783eda;
}
#payment-gradient + stop {
  stop-color: #2986e9;
} */
.payment-mode-svg path {
  fill: url(#payment-gradient);
}
.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,500 L 0,187 C 92.98717948717947,175.05897435897435 185.97435897435895,163.11794871794874 261,181 C 336.02564102564105,198.88205128205126 393.08974358974365,246.58717948717947 476,259 C 558.9102564102564,271.41282051282053 667.6666666666666,248.53333333333336 742,250 C 816.3333333333334,251.46666666666664 856.24358974359,277.2794871794872 936,262 C 1015.75641025641,246.7205128205128 1135.3589743589741,190.34871794871793 1226,171 C 1316.6410256410259,151.65128205128207 1378.320512820513,169.32564102564103 1440,187 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,187 C 81.05384615384614,234.3051282051282 162.10769230769228,281.6102564102564 235,275 C 307.8923076923077,268.3897435897436 372.62307692307684,207.86410256410258 440,201 C 507.37692307692316,194.13589743589742 577.4000000000001,240.9333333333333 676,238 C 774.5999999999999,235.0666666666667 901.7769230769231,182.40256410256413 1002,182 C 1102.2230769230769,181.59743589743587 1175.4923076923078,233.45641025641027 1244,243 C 1312.5076923076922,252.54358974358973 1376.253846153846,219.77179487179487 1440,187 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,187 C 99.19487179487183,178.3820512820513 198.38974358974366,169.7641025641026 275,147 C 351.61025641025634,124.23589743589743 405.6358974358974,87.325641025641 481,105 C 556.3641025641026,122.674358974359 653.0666666666667,194.93333333333334 741,234 C 828.9333333333333,273.06666666666666 908.0974358974361,278.94102564102565 990,259 C 1071.902564102564,239.05897435897435 1156.5435897435896,193.3025641025641 1232,177 C 1307.4564102564104,160.6974358974359 1373.7282051282052,173.84871794871793 1440,187 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,187 C 85.74871794871797,210.2076923076923 171.49743589743593,233.41538461538462 244,230 C 316.50256410256407,226.58461538461538 375.75897435897434,196.54615384615386 458,171 C 540.2410256410257,145.45384615384614 645.4666666666667,124.4 730,143 C 814.5333333333333,161.6 878.374358974359,219.85384615384615 952,233 C 1025.625641025641,246.14615384615385 1109.0358974358974,214.1846153846154 1192,199 C 1274.9641025641026,183.8153846153846 1357.4820512820513,185.4076923076923 1440,187 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,187 C 92.98717948717947,175.05897435897435 185.97435897435895,163.11794871794874 261,181 C 336.02564102564105,198.88205128205126 393.08974358974365,246.58717948717947 476,259 C 558.9102564102564,271.41282051282053 667.6666666666666,248.53333333333336 742,250 C 816.3333333333334,251.46666666666664 856.24358974359,277.2794871794872 936,262 C 1015.75641025641,246.7205128205128 1135.3589743589741,190.34871794871793 1226,171 C 1316.6410256410259,151.65128205128207 1378.320512820513,169.32564102564103 1440,187 L 1440,500 L 0,500 Z"
    );
  }
}

.card {
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}
.img-price {
  width: 40%;
  cursor: pointer;
  margin: 30px 0 70px 0;
}
@media (max-width: 767px) {
  .img-price {
    width: 50%;
  }
}
@media (max-width: 590px) {
  .img-price {
    width: 60%;
  }
}
@media (max-width: 450px) {
  .img-price {
    width: 70%;
  }
}
@media (max-width: 375px) {
  .img-price {
    width: 80%;
  }
}
