/* header styles */
.header-navbar {
  padding: 10px 3% !important;
}

.header-navbar .logo {
  width: 160px;
}

.header-navbar .nav-link {
  color: black;
  margin-right: 20px;
  font-size: 18px; /* Default font size */
}

.header-navbar .sign-in-btn {
  background: linear-gradient(to right, #e44a20, #6ec13a);
  border: none;
  color: white;
  padding: 10px 20px;
}

.container-home a {
  color: black;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.topBotomBordersOut a:before, .topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

.borderYtoX a:before, .borderYtoX a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: '';
  background: #e44a20;
  transition: all 0.3s;
}

.borderYtoX a:before {
  left: 0px;
  top: 0px;
}

.borderYtoX a:after {
  right: 0px;
  bottom: 0px;
}

.borderYtoX a:hover:before, .borderYtoX a:hover:after {
  opacity: 1;
  height: 2px;
  width: 100%;
} 

/* Responsive adjustments */
@media (min-width: 993px) {
  .header-navbar {
    padding: 10px 3% !important;
  }
  
  .header-navbar .nav-link {
    font-size: 17px;
    margin-right: 15px;
  }

  .header-navbar .sign-in-btn {
    padding: 9px 18px;
  }
}

@media (max-width: 992px) {
  .header-navbar {
    padding: 10px 3% !important;
  }
  
  .header-navbar .nav-link {
    font-size: 14px;
    margin-right: 8px;
  }

  .header-navbar .sign-in-btn {
    padding: 8px 16px;
  }

  .container-home a {
    font-size: 16px;
  }
}
/* Offcanvas specific styles for max-width: 767px */
@media (max-width: 767px) {
  .header-navbar {
    padding: 10px 3% !important;
  }
  
  .header-navbar .nav-link {
    display: none;
  }

  .header-navbar .sign-in-btn {
    display: none;
  }
  
  .offcanvas-header {
    background-color: #f8f9fa; 
  }

  .offcanvas-title {
    color: black; 
  }

  .offcanvas-body {
    margin: 0; 
    padding: 0;
  }

  .flex-column .nav-link {
    padding: 1rem 0.1rem;
    color: black;
    font-size: 17px;
    font-weight: 500;
    position: relative;
  }
  .flex-column .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: transparent; 
  }
  .flex-column .nav-link.active,
  .flex-column .nav-link:hover {
    color: #e44a20; 
    font-weight: bold;

  }
  .flex-column .nav-link.active::after,
  .flex-column .nav-link:hover::after {
    background-color: #e44a20; 
  }
  
}

/* Banner Styles */
.banner-container {
  height: 170px !important; 
  padding-left: 3% !important;
  padding-top: 10px  !important;
  padding-bottom: 10px  !important;
  padding-right: 0% !important;
}

.text-container-fluid {
  flex-grow: 1; 
  margin-right: 1rem; 
}

@media (max-width: 463px) {

  .text-container-fluid {
    padding: 0 !important; 
    align-items: center;
  }
}



















/* Footer css */
.footer {
  padding: 10px 3% !important;
  background-color: #f8f9fa;
}

.footer-links a {
  text-decoration: none;
}

.footer-bottom hr {
  border-top: 1px solid #000;
  width: 90%;
  margin: 0 auto;
}

.footer-links a, .copyrighttext {
  font-size: 0.9rem;
  font-weight: 500;
}
.social-icons {
  height: 100%; 
}
.socialicon{
  height: 100%;
  max-height: 30px;
}
.separator {
  display: inline;
}


@media (max-width: 990px) {
  .footer {
    padding: 10px 3% !important;
    background-color: #f8f9fa;
  }
  .footer-bottom hr {
    width: 100% !important;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-links a {
    font-size: 1rem !important;
    margin: 0.2rem 0;
  }
  .copyrighttext {
    font-size: 1.1 rem;
    margin:10px;
    margin-bottom: 1.1rem;
  }
  .separator {
    display: none;
  }
}
@media (min-width: 1078px) {
  .footer {
    padding: 10px 3% !important;
    background-color: #f8f9fa;
  }
  .footer-links a, .copyrighttext {
    font-size:1rem;
    font-weight: 500;
  }
  .footertext {
    font-size: 1rem;
    font-weight: 400;
  }
 .footer-bottom hr{
width: 100%;
 }
}
































