/* header styles */
.header-navbar {
    padding: 20px 10px;
  }
  
  .header-navbar .logo {
    width: 150px;
  }
  
  .header-navbar .nav-link {
    color: black;
    margin-right: 20px;
    font-size: 17px; 
  }
  
  .header-navbar .sign-in-btn {
    background: linear-gradient(to right, #e44a20, #6ec13a);
    border: none;
    color: white;
    padding: 10px 20px;
  }
  
  @media (max-width: 870px) {
    .header-navbar .navbar-collapse {
      justify-content: space-between;
    }
    .header-navbar {
      align-items: center;
      justify-content: center;
    }
    .header-navbar .nav-link {
      margin: 0 !important;
      font-size: 16px;
    }
  
    .header-navbar .sign-in-btn {
      margin-top: 10px; 
    }
  }
  
  @media (max-width: 767px) {
    .header-navbar .nav-link {
      font-size: 14px; 
    }
    .header-navbar {
        padding: 10px 0px;
      }
  }


/* Banner Styles */
.banner-container {
  height: 150px; 
}

.text-container {
  flex-grow: 1; 
  margin-right: 1rem; 
}

.banner-image {
  display: flex;
  justify-content: flex-end;
  height: 100%; 
}

.banner-image img {
  max-height: 100%; 
  width: auto; 
}

@media (max-width: 463px) {
  .banner-image {
    display: none; 
  }

  .text-container {
    margin-right: 0; 
    font-size: 1rem; 
  }

  .text-container div {
    font-size: 1.2rem; 
  }
}


/* Footer css */
.footer {
  background-color: #f8f9fa;
}

.footer-links a {
  text-decoration: none;
}

.footer-bottom hr {
  border-top: 1px solid #000;
}

.footer-links a, .copyrighttext {
  font-size: 0.9rem;
  font-weight: 500;
}

.footertext {
  font-size: 0.9rem;
  font-weight: 400;
}
.separator {
  display: inline;
}


@media (min-width: 430px) and (max-width: 478px) {
  .footer-links a, .copyrighttext {
    font-size: 1rem;
    font-weight: 600;
  }
  .footertext {
    font-size: 0.9rem;
    font-weight: 400;
  }
}
@media (max-width: 429px) {
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footertext {
    font-size: 0.7rem;
    font-weight: 400;
  }
  .footer-links a {
    font-size: 1.1 rem;
    margin: 0.2rem 0;
  }

  .separator {
    display: none;
  }

}
@media (min-width: 479px) {
  .footer-links a, .copyrighttext {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .footertext {
    font-size: 1rem;
    font-weight: 400;
  }
}

div.container-home a
{
    color: 'black';
    text-decoration: none;
    font: 20px Raleway;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}
div.borderYtoX a:before, div.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #e44a20;
    transition: all 0.3s;
}

div.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}


/* Header Icon Styles */
.header-icon-container {
  display: flex;
  justify-content: center;
}

.header-icon {
  width: 75px;
  height: auto;
}


@media (max-width: 1199.98px) {
  .header-icon {
    width: 75px; 
  }
}

@media (max-width: 999.98px) {
  .header-icon {
    width: 65px; 
  }
}

@media (max-width: 799.98px) {
  .header-icon {
    width: 55px; 
  }
}