.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.bg-orange {
  background-color: #f05a28;
  color: white;
}

.text-center {
  text-align: center;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 1200px) and (min-width: 751px) {
  .font-md-small {
    font-size: 24px; 
  }
}

@media (max-width: 400px) {
  .font-md-small {
    font-size: 18px 
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

